/*Cái này là styles của phần dưới thanh tasbar tức là content*/
.content {
    font-family: "Roboto", sans-serif;
    padding: 100px;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

/*Cái này để chỉnh cách hiển thị của phần logo*/
.content-logo {
    flex: 1; 
    display: flex; 
    justify-content: center;
}

/*Chỉnh kích thước logo*/
.logo {
    height: 350px;
}

/*Cái này để chỉnh cách hiển thị của phần nội dung bên cạnh logo*/
.content-text {
    flex: 3; 
    display: flex; 
    flex-direction: row;
}

/* Cái section là để chỉnh cho phần nội dung ẩn hay hiện */
.section {
    display: none;
}

.section.active {
    display:inline;
}
/*Cái này là nội dung của home */

.section-home-header {

    color: #111111;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.section-home-body1 {
    display:inline;
    text-decoration-line: underline;
    font-size:45px;
    color:rgb(63, 63, 70);
    font-weight:600;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.section-home-body2 {
    display:inline;
    font-weight: bolder;
    font-size:45px;
    color:rgb(63, 63, 70);
    margin-left:2dvh;
}

.section-home-body3 {
    display:inline;
    text-decoration-color: gray;
    font-weight:lighter;
    font-size:30px;
    color:rgb(63, 63, 70);
    margin-left:5px;
}
