.more {
    background-color: rgb(9, 124, 74);
    padding: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 40px;

}

.more-text1 {
    font-weight: bold;
    color: white;
    font-size: 50px;
    margin-left: 10dvh;
    margin-bottom:0px;
}

.more-text2 {
    color: white;
    font-size: 30px;
    margin-left: 10dvh;
    margin: top 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.more-button {
    margin-left: 100dvh;
    background-color: white;
    color: rgb(10, 201, 119);
    font-size: large;
    border-radius: 7px;
    border: none;
    padding: 3dvh 3dvh 3dvh 3dvh;
    cursor: pointer;
    text-decoration-line: none;
    transition: 0.3s;
    margin-top:15dvh;

}

.more-button:hover {
    color: rgb(9, 124, 74);
}
